@media (min-width: 40em){
    .navigation{
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: row;
    }
    .navigation li{
        display: block;
        flex: 1 1 100%;
    }
    #menu{
        display: none;
    }
    nav{
        grid-column: 3/5;
    }
    .div_card{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        align-items: center;
        margin: 10px;
    }

}