
*{
    margin: 0pt;
    padding: 0pt;
}
header{
    background-color: rgb(177, 177, 232);
    display: grid;
    grid-template: auto / auto auto;
    align-items: center;
    align-content: space-between;
    height: auto;
    align-content: center;
}
h1{
    padding-left: 10pt;
    text-align: center;
}
#menu{
    display: block;
    text-decoration: none;
    font-size: 2em;
    justify-self: flex-end;
    padding-right: 10pt;
    
}
#menu::before{
    content: "☰";
}

.navigation{
    list-style: none;
    height: 100%;
    

}
.navigation li{
    display: none;
    text-align: center;
    height: 100%;
}
.navigation a{
    display: flex;
    color: rgb(4, 4, 4);
    text-decoration: none;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.show li{
    display: block;
    }

#menu.show::before{
content: "X";
}
#temple_figures{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}
nav a:hover{
    background-color: black;
    color: aliceblue;
    height: 100%;
    
}
figure{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
ul{
    list-style: none;
}
img {
    padding: 10px;
    height: 250px;
    width: 400px;
}